<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <title>Busca de Livros</title>
</head>
<body>
    <a href="/"><h1>Busca de livros usando a API do Google Books</h1></a>
    <div class="menu">
        <a href="/" class="item-menu">Busca</a>
        <a href="/livros">Meus Livros</a>
    </div>
